@import "styles/settings/__settings";
@import "style.css";


* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Kalpurush, BlinkMacSystemFont, Segoe UI, Helvetica Neue, sans-serif;
}

p {
  line-height: 1.6;
  margin: 1.2em 0;
}

ul {
  padding-left: 2.2em;
}

a {
  color: $color-primary;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  &[type="text"],
  &[type="search"],
  &[type="email"] {
    outline-offset: 0;
    padding: 0.5em 0.8em;
  }
}

figcaption {
  color: $color-gray-500;
  font-size: 0.9em;
  text-align: center;
  font-style: italic;
  margin-top: 0.6em;
}

.sr-only {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}


/*--------Block-quote extra ----*/


blockquote {
  margin: 0 0 1rem;
  padding: 0 1rem;
  color: #7d7d7d;
  border-left: 4px solid #d6d6d6;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

.wp-block-quote {
  border-radius: 8px;
  border-left: 1px solid #428bca;
  color: #0e0f0e;
  background: #ccc;
  box-shadow: 5px 5px #b0c4de;
  padding: 1.5em 1.75em;
  margin-bottom: 2rem
}

.wp-block-quote p,blockquote p {
  background: #ccc;
  color: #000
}

.wp-block-quote p:before,blockquote p:before {
  color: #222
}

.wp-block-quote a:link,blockquote a:link {
  color: green
}

.wp-block-quote a:hover,blockquote a:hover {
  color: red
}


.wp-block-button__link {
  background-color: #cc3d64
}
.wp-block-pullquote {
  font-size: 1.5em;
  line-height: 1.6
}

.footnotes {
  font-style: italic
}