@import "styles/settings/__settings";

@import "styles/components/_container";

.header {
  max-width: 100%;
    height: auto;
    vertical-align: top;
    border-radius: 10px;

  h1 {
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
    text-align: center;

    @media (min-width: 480px) {
      font-size: 4rem;
    }

    a {
      color: $color-primary;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }

    & + ul {
      margin-top: 1.5em;
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  
}
